<%= page do %>
  <%= header do %>
    <h1>Favorites</h1>
  <% end %>

  <%= content do %>
	<% if @locations.nil? %>
		You don't have any favorite locations.
	<% else %>
	    <ul data-role='listview'>
	      <% @locations.each do |location| %>
	          <li>
	            <%= link_to location["Location__r"]["Name"]+' ('+location["Location__r"]["Facilities__c"].to_i.to_s+')', location_path(location["Location__r"]["Id"]) %>
	          </li>
	      <% end %>
	    </ul>
	<% end %>
  <% end %>
  <div data-role="footer">		
    <div data-role="navbar" data-iconpos="bottom">
      <ul>
        <li><a href="/location/favorites" data-role="button" data-icon="star">Favorites</a></li>
        <li><a href="/location/index" data-role="button" data-icon="home">Locations</a></li>
        <li><a href="/content/about" data-role="button" data-icon="info">About</a></li>
      </ul>
    </div>
  </div>
<% end %>