<%= page do %>
  <%= header do %>
    <h1>About</h1>
  <% end %>
  <%= content do %>
	<center>
		<img src="/images/chow.png" width="275">
	<p>The Chow Finder was written by the <a href="http://blog.jeffdouglas.com" target="_blank">Jeff Douglas</a> for the LinkedIn <a href="http://veterans2011.linkedin.com" target="_blank">Veterans Hackday 2011</a> and the CloudSpokes <a href="http://www.cloudspokes.com/challenge_detail.html?contestID=343" target="_blank">Veterans Hackday 2011 challenge</a>.</p>
	
	<p>The application was built as an easy way for service members to add "chow" locations and easily find them. The only moderator is me so please enter data that will be helpful to your buddies.</p>
	
	<p>Please <a href="mailto:jeff@jeffdouglas.com">email me</a> with any requests or enhancements.</p>
	
	<h3>You Rock!</h3>
	<p><img src="/images/yourock.png" width="275"><p>

	</center>
  <% end %>
  <div data-role="footer">		
    <div data-role="navbar" data-iconpos="bottom">
      <ul>
        <li><a href="/location/favorites" data-role="button" data-icon="star">Favorites</a></li>
        <li><a href="/location/index" data-role="button" data-icon="home">Locations</a></li>
        <li><a href="/content/about" data-role="button" data-icon="info">About</a></li>
      </ul>
    </div>
  </div>
<% end %>