<%= page do %>
  <%= header do %>
    <h1>About Chow Finder</h1>
  <% end %>
  <%= content do %>
	The Chow Finder was written by the <a href="http://blog.jeffdouglas.com" target="_blank">Jeff Douglas</a> for the <a href="http://veterans2011.linkedin.com">Veterans Hackday 2011</a>.
  <% end %>
  <div data-role="footer">		
    <div data-role="navbar" data-iconpos="bottom">
      <ul>
        <li><a href="/location/favorites" data-role="button" data-icon="star">Favorites</a></li>
        <li><a href="/location/index" data-role="button" data-icon="home">All Locations</a></li>
        <li><a href="/content/about" data-role="button" data-icon="info">About</a></li>
      </ul>
    </div>
  </div>
<% end %>